<ion-list>
  <ion-item>
    <ion-label>Play</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Play Next</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Add to queue</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Add to queue</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Add to playlist <ion-icon slot="direction-right" name="add"></ion-icon></ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Add to Blacklist</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Edit Song info</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Delete</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Search</ion-label>
  </ion-item>

</ion-list>