<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
     <ion-back-button></ion-back-button>
   </ion-buttons>
  <ion-searchbar searchIcon="false" animated="true" placeholder="Type title, artist or lyrics" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" offset="3">
        
        <ion-text color="dark">
          <ion-item>
            <ion-icon style="font-size: 70px;" name="search" slot="start"></ion-icon>
            
          </ion-item>
          <h1>Search the world's largest lyrics catalog </h1>
        </ion-text>
      </ion-col>
      
    </ion-row>
  </ion-grid>

 
  
</ion-content>
