.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  display: flex;
  justify-content: center;
  gap: 3;
}

p {
  /* Center horizontally*/
  text-align: center;
}

#contrib {
  justify-self: start;
}

#share {
  justify-self: end;
}
