

<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button (click)="onClick()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title color="danger" style="font-weight: bold; font-size: 28px;">Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 style="padding: 2%;">Floating Lyrics </h1>
  
    <ion-text color="primary">
     
      <p style="color: gray; padding: 5%; ">Get lyrics instantly on top of your  Youtube, Spotify, PLay Music, and more</p>
    </ion-text>
  
    <ion-buttons slot="end">
      <ion-button (click)="onClick()" color="danger">
        Open floating lyrics
        
      </ion-button>
    </ion-buttons>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
  
  </ion-toolbar>
</ion-footer>
